.pagination{
    box-shadow: var(--box_shadow-up);
    padding: 10px;
    display: inline-block;
}

.pagination button{
    box-shadow: var(--box_shadow-up);
    border: 0;
    padding: 6px 15px;
    margin:0 5px;
    transition: .2s ease;
    color: rgba(0, 0, 0, 0.596);
    font-weight: 500;
    user-select: none;
    border-radius: 5px;
    background-color: transparent;
}
.pagination button:hover{
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.315);
}
.pagination button:disabled{
    cursor: no-drop;
    pointer-events: none;
    color: rgba(124, 124, 124, 0.596);
}

.pagination button:active, .pagination button.active{
    box-shadow: var(--box_shadow-down);
    background-color: transparent;
}

.pagination select{
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    box-shadow: var(--box_shadow-down);
    outline: transparent;
    border-radius: 5px;
}

@media (max-width: 786px) {
    .pagination button{
        margin:10px 5px;
    }
}