.inventory_card{
    box-shadow: var(--box_shadow-up);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* background-color: transparent; */
}

.inventory_card img{
    height: 350px;
}

.tk{
    font-size: 25px;
    font-weight: bolder;
}

.inventory_card .neomorphs_btn:active{
    box-shadow: none !important;
}

.inStock{
    position: absolute;
    left: 0;
    top: 310px;
}