.social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icons button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    transition: all .3s ease-in-out ;
}

