.manageInventory table {
    box-shadow: var(--box_shadow-up);
    text-align: center;
    vertical-align: middle;
}


.manageInventory .removeItem {
    height: 50px;
    width: 50px;
}


/* confirm message box */

.confirmBox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 9;
    display: grid;
    align-items: center;
    place-content: center;
    user-select: none;
}

.confirmBox .confirmMessage {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.confirmMessageHeader,
.confirmMessageBody {
    padding: 20px;
    position: relative;
}

.confirmMessageFooter button {
    width: 50%;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.confirmClose {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}







@media (max-width: 991px) {
    .manageInventory table {
        box-shadow: none;
    }

    .manageInventory table thead {
        display: none;
    }

    .manageInventory table.table>:not(:first-child) {
        border: none;
    }

    .manageInventory table tr {
        display: block;
        margin-bottom: 20px;
        box-shadow: var(--box_shadow-up);
        border-radius: 15px;
        overflow: hidden;
    }

    .manageInventory table td {
        display: flex;
        text-align: right;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
    }

    .manageInventory table td:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    }

    .manageInventory table td::before {
        content: attr(data-level);
        font-weight: bold;
        padding-right: 10px;
        text-align: left;
    }
}