:root {
    --primary_color: #e1e3f4;
    --box_shadow-up:   4px 4px 5px #adafbc, -4px -4px 5px #ffffff;
    --box_shadow-down:    inset 3px 3px 5px #adafbc, inset -3px -3px 5px #ffffff;
}


/* global css */
body {
    background-color: var(--primary_color);
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

.primary_bg {
    background-color: var(--primary_color);
}

.primary_text {
    color: var(--primary_color);
}

.primary_btn {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: .3s ease-in-out;
    border: 2px solid #2c3e50;
}
.primary_btn span{
    position: relative;
    transition: .3s ease-out;
    font-weight: bold;
}

.primary_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    height: 100%;
    width: 100%;
    transform: scaleX(0) skew(85deg);
    transition: .3s ease-in-out;
}
.cursor-pointer{
    cursor: pointer;
}

.neomorphs_btn{
    border-radius: 30px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border: transparent;
    box-shadow:  var(--box_shadow-up) !important;
}
.neomorphs_btn:not(:disabled):active {
    box-shadow:  var(--box_shadow-down) !important;
}


.primary_btn:hover::before{
    transform: scaleX(2);
}
.primary_btn:hover span{
    color: #fff;
}

/* app */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* or divider */
.divider{
    position: relative;
    
}
.divider span{
    background-color: var(--primary_color);
    display: inline-block;
    padding: 0 20px;
}
.divider::after{
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #2c3e50;
    z-index: -1;
}

.centerSpinner{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}