.notFound{
    height: calc( 100vh - 100px );
    display: grid;
    align-items: center;
    place-content: center;
    text-shadow: var(--box_shadow-up);
}

.notFound .neomorphs_btn{
    text-shadow: none;
} 